.list{
    list-style: none;
    padding: 10px;
    margin: 10px;
    
}
.link{
    text-decoration: none;
    color: black;
}
.active{
    text-decoration: underline;
    color:black;
    
    text-decoration-color: rgb(245, 3, 3);
   
}